{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "SK = :sk",
        "expressionValues": {
            ":sk": {"S": "DOCUMENT"}
        }
    },
    "limit": 50
}